{% extends 'base.html.twig' %}

{% block title %}{{post.name}}{% endblock %}
{% block headline %}{{post.name}}{% endblock %}
{% block description %}{{post.headline|raw}}{% endblock %}
{% block breadcrumb %}{{post.name}}{% endblock %}
{% block bgimage %}{{asset('uploads/posts/' ~ post.image)}}{% endblock %}

{% block body %}
    <div class="container py-5" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-8">
                <div class="description mb-3">
                    {{post.description|raw}}
                </div>
                <address class="address mb-3">
                    <div class="row">
                        <div class="col-auto">
                            <i class="bi bi-geo"></i>
                        </div>
                        <div class="col">
                            {{post.address}}<br>
                            {{post.postcode}} {{post.city}}
                        </div>
                    </div>
                    <div class="mt-3">
                        {{ include('post/_contact.html.twig') }}
                    </div>
                </address>
                <div class="categories mt-5">
                    {% for category in post.category%}
                        <a href="{{ path('app_category_show', {'slug': category.slug}) }}" class="badge text-bg-primary">{{category.name}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
